.footer {
    padding: 60px 0;


    background-color: #2F303A;
}

.footer-left-part {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    margin-right: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #ffffff;

}

.contact {
    font-style: inherit;
}

.contact__item {
    line-height: 1.71;
        &:not(:last-child) {
         margin-bottom: 8px;
        }
}



.contact__link {
    color: var(--footer-text-color);
}

.contact__link--address {
    color: #ffffff;
}

.join {
    margin-left: 70px;
}


.join__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    margin-bottom: 20px;
}

.join__list {
    display: flex;
}

.join__item {
    width: 44px;
    height: 44px;
        &:not(:first-child) {
            margin-left: 10px;
        }
}



.join__link {
    transition: background-color 250ms var(--timing-function);

    width: 100%;
    height: 100%;

    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}



/* Form */

.footer-form {
    display: flex;
    flex-direction: column;

    padding-top: 72px;
    padding-left: 94px;
}

.footer-form__label {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 20px;
}

.footer-form__content {
    display: flex;
}

.footer-form__input {
    width: 356px;
    height: 50px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-form__btn {
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    cursor: pointer;

    padding: 10px 10px 10px 30px;
    margin-left: 12px;
}

.footer-form-icon {
    margin-left: 10px;
}